[Desktop Entry]
Type=Application
Version=1.0
Name=RQuickShare
Comment=RQuickSharestartup script
Exec=/usr/bin/r-quick-share 
StartupNotify=false
Terminal=false